h1{
text-align: center;
	font-family:serif;
	color:burlywood

}

#memory_board {
	background: beige;
	border: black 2px solid;
	width: 680px;
	height: 450px;
	padding: 10px;
	margin: 0px auto;
}

#memory_board > div {
	background: url(../images/gold.jpg) no-repeat;
	border: black 1px solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 5px;
	padding: 15px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;
}

@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
